### This notebook's purpose is to combine the weather data and the train / test data along the date column.

In [55]:
import pandas as pd
pd.set_option('display.max_columns', 500)

### Importing Train Test and Weather CSV's

In [56]:
weather = pd.read_csv('./weather_combined')

In [57]:
train = pd.read_csv('./train_clean')

In [58]:
test = pd.read_csv('./test_clean')

### Merging the weather and train CSV's on the Date Column

In [59]:
combined = pd.merge(weather,train,on=['Date'])
combined = combined.drop(columns=['Unnamed: 0_x','Unnamed: 0_y'])

In [60]:
combined.isnull().sum().sum()

0

In [61]:
combined.head()

,Date,BCFG,BR,CALM,DZ,FG,FG+,FU,GR,HZ,MIFG,RA,SN,SQ,TS,TSRA,VCFG,VCTS,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Species,Block,Latitude,Longitude,WnvPresent
0,2007-05-29,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,88.0,62.5,75.25,21.25,58.5,65.5,0.0,10.5,421,1917,0.0,29.415,30.1,5.8,17.0,6.95,CULEX PIPIENS/RESTUANS,41,41.954690,-87.800991,0
1,2007-05-29,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,88.0,62.5,75.25,21.25,58.5,65.5,0.0,10.5,421,1917,0.0,29.415,30.1,5.8,17.0,6.95,CULEX RESTUANS,41,41.954690,-87.800991,0
2,2007-05-29,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,88.0,62.5,75.25,21.25,58.5,65.5,0.0,10.5,421,1917,0.0,29.415,30.1,5.8,17.0,6.95,CULEX RESTUANS,62,41.994991,-87.769279,0
3,2007-05-29,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,88.0,62.5,75.25,21.25,58.5,65.5,0.0,10.5,421,1917,0.0,29.415,30.1,5.8,17.0,6.95,CULEX PIPIENS/RESTUANS,79,41.974089,-87.824812,0
4,2007-05-29,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,88.0,62.5,75.25,21.25,58.5,65.5,0.0,10.5,421,1917,0.0,29.415,30.1,5.8,17.0,6.95,CULEX RESTUANS,79,41.974089,-87.824812,0

### Exporting to CSV

In [62]:
combined.to_csv('merged_train_weather',index=False)

### Merging the Weather and Test CSV's on the Date Column

In [63]:
combined_2 = pd.merge(weather,test,on=['Date'])
combined_2 = combined_2.drop(columns=['Unnamed: 0_x','Unnamed: 0_y'])

In [64]:
combined_2.head()

,Date,BCFG,BR,CALM,DZ,FG,FG+,FU,GR,HZ,MIFG,RA,SN,SQ,TS,TSRA,VCFG,VCTS,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Id,Species,Block,Latitude,Longitude
0,2008-06-11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,86.0,63.5,74.75,20.75,55.5,64.0,0.0,10.0,416,1926,0.0,29.31,29.98,9.15,18.0,10.2,1,CULEX PIPIENS/RESTUANS,41,41.95469,-87.800991
1,2008-06-11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,86.0,63.5,74.75,20.75,55.5,64.0,0.0,10.0,416,1926,0.0,29.31,29.98,9.15,18.0,10.2,2,CULEX RESTUANS,41,41.95469,-87.800991
2,2008-06-11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,86.0,63.5,74.75,20.75,55.5,64.0,0.0,10.0,416,1926,0.0,29.31,29.98,9.15,18.0,10.2,3,CULEX PIPIENS,41,41.95469,-87.800991
3,2008-06-11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,86.0,63.5,74.75,20.75,55.5,64.0,0.0,10.0,416,1926,0.0,29.31,29.98,9.15,18.0,10.2,4,CULEX SALINARIUS,41,41.95469,-87.800991
4,2008-06-11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,86.0,63.5,74.75,20.75,55.5,64.0,0.0,10.0,416,1926,0.0,29.31,29.98,9.15,18.0,10.2,5,CULEX TERRITANS,41,41.95469,-87.800991

### Export to CSV

In [65]:
combined_2.to_csv('merged_test_weather',index=False)