In [11]:
import pandas as pd
import os 
os.chdir('/Users/gil/desktop/notebooks/DSI-US-4/Project4/')
pd.set_option('display.max_columns', 500)
test = pd.read_csv('./merged_test_weather-finalv2')

In [12]:
test = test.drop(columns = ['Unnamed: 0','Block'])

ValueError: labels ['Block'] not contained in axis

In [14]:
test.head()

,Unnamed: 0,Date,BCFG,BR,CALM,DZ,FG,FG+,FU,GR,HZ,MIFG,RA,SN,SQ,TS,TSRA,VCFG,VCTS,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Id,Latitude,Longitude,Species_CULEX ERRATICUS,Species_CULEX PIPIENS,Species_CULEX PIPIENS/RESTUANS,Species_CULEX RESTUANS,Species_CULEX SALINARIUS,Species_CULEX TARSALIS,Species_CULEX TERRITANS,Species_UNSPECIFIED CULEX,month_10,month_6,month_7,month_8,month_9,daytime
0,0,2008-06-11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,86.0,63.5,74.75,20.75,55.5,64.0,0.0,10.0,0.0,29.31,29.98,9.15,18.0,10.2,1,41.95469,-87.800991,0,0,1,0,0,0,0,0,0,1,0,0,0,1510
1,1,2008-06-11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,86.0,63.5,74.75,20.75,55.5,64.0,0.0,10.0,0.0,29.31,29.98,9.15,18.0,10.2,2,41.95469,-87.800991,0,0,0,1,0,0,0,0,0,1,0,0,0,1510
2,2,2008-06-11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,86.0,63.5,74.75,20.75,55.5,64.0,0.0,10.0,0.0,29.31,29.98,9.15,18.0,10.2,3,41.95469,-87.800991,0,1,0,0,0,0,0,0,0,1,0,0,0,1510
3,3,2008-06-11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,86.0,63.5,74.75,20.75,55.5,64.0,0.0,10.0,0.0,29.31,29.98,9.15,18.0,10.2,4,41.95469,-87.800991,0,0,0,0,1,0,0,0,0,1,0,0,0,1510
4,4,2008-06-11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,86.0,63.5,74.75,20.75,55.5,64.0,0.0,10.0,0.0,29.31,29.98,9.15,18.0,10.2,5,41.95469,-87.800991,0,0,0,0,0,0,1,0,0,1,0,0,0,1510

In [15]:
test['daytime'] = test['Sunset'] - test['Sunrise']

KeyError: 'Sunset'

In [9]:
test = test.drop(columns=['Sunset','Sunrise'])

In [16]:
test.head()

,Unnamed: 0,Date,BCFG,BR,CALM,DZ,FG,FG+,FU,GR,HZ,MIFG,RA,SN,SQ,TS,TSRA,VCFG,VCTS,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Id,Latitude,Longitude,Species_CULEX ERRATICUS,Species_CULEX PIPIENS,Species_CULEX PIPIENS/RESTUANS,Species_CULEX RESTUANS,Species_CULEX SALINARIUS,Species_CULEX TARSALIS,Species_CULEX TERRITANS,Species_UNSPECIFIED CULEX,month_10,month_6,month_7,month_8,month_9,daytime
0,0,2008-06-11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,86.0,63.5,74.75,20.75,55.5,64.0,0.0,10.0,0.0,29.31,29.98,9.15,18.0,10.2,1,41.95469,-87.800991,0,0,1,0,0,0,0,0,0,1,0,0,0,1510
1,1,2008-06-11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,86.0,63.5,74.75,20.75,55.5,64.0,0.0,10.0,0.0,29.31,29.98,9.15,18.0,10.2,2,41.95469,-87.800991,0,0,0,1,0,0,0,0,0,1,0,0,0,1510
2,2,2008-06-11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,86.0,63.5,74.75,20.75,55.5,64.0,0.0,10.0,0.0,29.31,29.98,9.15,18.0,10.2,3,41.95469,-87.800991,0,1,0,0,0,0,0,0,0,1,0,0,0,1510
3,3,2008-06-11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,86.0,63.5,74.75,20.75,55.5,64.0,0.0,10.0,0.0,29.31,29.98,9.15,18.0,10.2,4,41.95469,-87.800991,0,0,0,0,1,0,0,0,0,1,0,0,0,1510
4,4,2008-06-11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,86.0,63.5,74.75,20.75,55.5,64.0,0.0,10.0,0.0,29.31,29.98,9.15,18.0,10.2,5,41.95469,-87.800991,0,0,0,0,0,0,1,0,0,1,0,0,0,1510

In [10]:
test.to_csv('merged_test_weather-finalv2')